.footer-container {
  background-color: #111111;
  font-weight: 300;
  padding: 16px;
}

.footer-copyright {
  font-size: 14px;
}

.footer-copyright__company-name {
  letter-spacing: 2px;
  text-transform: uppercase;
}
