.navbar-container {
  background-color: #111111;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 16px;
}

.navbar-title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
